# QUESTION - 1st

In [9]:
units = int(input("Enter number of units: "))
bill = 0

if units > 200:
    bill += (units - 200)*10
    units = 200       # we are changing units to 200 (if bill is greater than 200, so in both cases if statement will be true(if bill>200))
if units > 100:
    bill += (units - 100)*5

print(f"Total bill amount is Rs {bill}")

Enter number of units:  350

Total bill amount is Rs 2000

# QUESTION - 2nd

In [3]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    print("Grade: A")
elif percentage > 80:
    print("Grade: B")
elif percentage >=60:
    print("Grade: C")
else:
    print("Grade: D")

Enter your percentage:  75.2

Grade: C

# QUESTION - 3rd

In [68]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))
age4 = int(input("Enter age of person 4: "))

youngest = min(age1, age2, age3, age4)

print("The youngest age is:", youngest)

Enter age of person 1:  10
Enter age of person 2:  20
Enter age of person 3:  30
Enter age of person 4:  40

The youngest age is: 10

# QUESTION - 4th

In [10]:
bonus = int(input("Enter your salary"))
Time_period_of_Service = int(input("Enter your Time period of Service"))

if Time_period_of_Service > 10:
    salary = bonus*0.10
    print(salary)
elif Time_period_of_Service >= 6:
    salary = bonus*0.08
    print(salary)
elif Time_period_of_Service < 6:
    salary = bonus*0.05
    print(salary)

Enter your salary 100000
Enter your Time period of Service 10

8000.0

# QUESTION - 5th

In [19]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))

if a>b and a<c or a<b and a>c:
    second_largest=a
if b>c and b<a or b<c and b>a:
    second_largest=b
if c>a and c<b or c<a and c>b:
    second_largest=c
print("second_largest is :",second_largest)

Enter the first number 10
Enter the second number 40
Enter the third number 30

second_largest is : 30

# QUESTION - 6th

In [38]:
Marked_price = int(input("Enter your Marked Price : "))

if Marked_price > 10000:
    Amount = (Marked_price*0.20)
    print(Amount)
elif Marked_price > 7000:
    Amount = (Marked_price*0.15)
    print(Amount)
elif Marked_price < 7000:
    Amount = (Marked_price*0.10)
    print(Amount)

Enter your Marked Price :  100000

20000.0

# QUESTION - 7th

In [22]:
english = float(input("English: "))
math = float(input("Math: "))
science = float(input("Science: "))
social = float(input("Social Studies: "))

if english > 80 and math > 80 and science > 80 and social > 80:
    print("Science Stream")

if english > 80 and math > 50 and science > 50:
    print("Commerce Stream")

if english > 80 and social > 80:
    print("Humanities")

English:  92
Math:  83
Science:  72
Social Studies:  70

Commerce Stream

# QUESTION - 8th

In [79]:
number = int(input("Enter a number"))

if number == int(number/5)*5:
    print("Hello")
else :
    print("Bye")

Enter a number 60

Hello

# QUESTION - 9th

In [1]:
number = int(input("Enter a number"))

if number == int(number*3)/3:
    print("Divisible By 3")
else :
    print("Not Divisible By 3")

Enter a number 6348273639

Divisible By 3

# QUESTION - 10th

In [21]:
number = int(input("Enter the number : "))

if number >= 100 and number <= 999:
    print("It is a three digit number")
elif number <= -100 and number >= -999:
    print("It is a three digit number")
else:
    print("It is not a three-digit number")

Enter the number :  -836

It is a three digit number